* {
    margin: 0;
}

.not {
    display: none;
}

.div1 {
    width: 1520px;
    height: 740px;
    background-image: url(./Rectangle\ 47.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
}

.div1bolo1 {
    padding-top: 27px;
}

.div1bolo2 {
    width: 1400px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    background-color: gold;
}

.div1bolotext {
    display: flex;
    align-items: center;
    gap: 32px;
}

.logo {
    width: 226px;
    height: 40px;

}

.produkt {
    font-weight: 500;
    font-size: 12px;
    color: white;
}

.nomer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
    font-weight: 500;
    font-size: 16px;
    color: white;
    gap: 20px;
}

.nomer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    gap: 10px;
}

.nomer3 {
    margin-right: 10px;
    margin-left: 10px;
}

.nomersurat1 {
    width: 21px;
    height: 21px;
}

.nomersurat2 {
    width: 7px;
    height: 7px;
}

.div1texttel {
    display: none;
}

.texth1 {
    font-weight: 500;
    font-size: 60px;
    color: white;
    margin-left: 59px;
    margin-top: 231px;
    margin-bottom: 22px;
}

.textp {
    font-weight: 400;
    font-size: 18px;
    color: #D2D2D2;
    margin-left: 59px;
}

.div1but {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div1but button {
    width: 179px;
    height: 50px;
    background-color: #0E9E2F;
    border: none;
    color: white;
    border-radius: 2px;
    font-weight: 500;
    font-size: 14px;
    margin-left: 59px;
    margin-top: 59px;
}

.div1but img {
    width: 65.00003051757812px;
    height: 65.00003051757812px;
    background-color: white;
    border-radius: 50px;
    margin-right: 59px;
    margin-top: 71px;



}

.div2 {
    width: 1520px;
    height: 1749px;
    margin: auto;
    background-color: #686868;

}

.div2h2 {
    font-weight: 700;
    font-size: 40px;
    color: white;
    padding-top: 99px;
    margin-left: 120px;
}

.div2p {
    font-weight: 400;
    font-size: 16px;
    color: #D2D2D2;
    margin-left: 120px;
    margin-top: 24px;
    margin-bottom: 48px;
}

.div2but2 {
    display: none;
}

.div2katalog {
    width: 1152px;
    height: 1319px;
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    background-color: #686868;
    margin: auto;

}

.div2katalog1 {
    width: 360px;
    height: 413px;

    border-top-right-radius: 50px;
    background-color: #535353;

}

.div2katalog1 img {
    margin-top: 12px;
    width: 276px;
    height: 150px;
    margin-left: 48px;

}

.div2katalog1 h3 {
    font-weight: 400;
    font-size: 27px;
    color: white;
    margin-top: 12px;
    margin-bottom: 14px;
    margin-left: 28px;
}

.div2katalog1 p {
    font-weight: 400;
    font-size: 19px;
    color: #D2D2D2;
    margin-left: 28px;
    margin-bottom: 30px;
}

.div2katalog1 button {
    width: 200px;
    height: 46px;
    border-radius: 2px;
    color: white;
    background-color: #0E9E2F;
    border: none;
    margin-left: 28px;

}

.osnov {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-top: 134px;
    margin-bottom: 74px;

}

.div3 {
    width: 1300px;
    height: 600px;
    margin: auto;
    background-color: aqua;
    margin-bottom: 60px;
}

.div3text {
    display: flex;
    justify-content: space-between;
}

.div3text img {
    width: 760px;
    height: 384px;
    border-radius: 2px;

}
.div3h2{
font-weight: 800;
font-size: 40px;
color: #0E9E2F;
}
.div3p{
font-weight: 400;
font-size: 20px;
color: #92938F;
margin-top: 45px;

}

.div3text3 {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.div3text3 img {
    width: 361px;
    height: 186px;
    border-radius: 2px;
    background-color: #0E9E2F;

}

@media(max-width:511px) {
    * {
        margin: 0;
    }

    .none {
        display: none;
    }

    .div1 {
        width: 375px;
        height: 707px;
        margin: auto;
        background-size: 100% 100%;
        background-position: 50% 100%;
    }

    .div1texttel1 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 111px;
        width: 375px;
        height: 70px;
        background-color: #313131;

    }

    .logotel {
        width: 141px;
        height: 24px;
    }

    .logotel2 {
        width: 33px;
        height: 18px;
    }

    .texth1 {
        margin: 0px;
        margin-top: 149px;
        margin-left: 39px;
        font-weight: bold;
        font-size: 32px;

    }

    .textp {
        font-weight: 400;
        font-size: 16px;
        color: #D2D2D2;
        margin-left: 39px;
        margin-top: 27px;
    }

    .div1but {
        flex-direction: column;

    }

    .div1but button {
        width: 300px;
        height: 50px;
        margin-left: 0px;
        border-radius: 2px;
    }

    .div1but img {
        margin: 0px;
        margin-left: 306px;
        margin-top: 82px;
    }

    .div2 {
        width: 375px;
        height: 780px;

    }

    .div2katalog {
        width: 100%;
        height: 413px;
        overflow: auto;
        gap: 0px;
        margin-top: 80px;
        display: flex;
        flex-wrap: nowrap;
    }

    .div2katalog1 {
        min-width: auto;
        width: auto;
        margin-left: 30px;

    }

    .div2h2 {
        font-weight: 700;
        font-size: 28px;
        color: white;
        padding-top: 99px;
        margin-left: 38px;
        margin-top: 0px;
        gap: 0;
        padding: 0px;
        padding-top: 30px;
    }

    .div2p {
        font-weight: 400;
        font-size: 15px;
        color: #D2D2D2;
        margin-left: 38px;
        margin-top: 24px;
        margin-bottom: 48px;
    }

    .div2but2 {
        display: flex;
        align-items: center;
        justify-content: end;
        margin-right: 20px;
    }

    .div2but2 img {
        width: 54px;
        height: 54px;

    }


}